---
import GradientText from "../global/GradientText.astro";
import SectionHeading from "../global/SectionHeading.astro";
import Avatar from "../Avatar.astro";
import Section from "../global/Section.astro";
import Highlight from "../global/Highlight.astro";
---

<Section id="about-me">
  <SectionHeading as="h2" class="">
    <GradientText>About Me</GradientText>
  </SectionHeading>

  <article class="info py-8">
    <div class="prose dark:prose-invert">
      <p>
        My name is Luis Llanes, I'm a Software Engineering student interested in
        web development. With <Highlight>strong common sense</Highlight>,
        <Highlight>logical thinking</Highlight>, and <Highlight
          >problem-solving skills</Highlight
        >, I strive for excellence in everything I do, which drives me to seek
        high-quality solutions.
      </p>
      <p>
        I am looking for challenging opportunities to test my abilities and
        continue expanding my skills, committed to learning new technologies and
        frameworks.
      </p>
    </div>

    <div class="avatar mx-auto size-fit overflow-hidden rounded-full">
      <Avatar />
    </div>
  </article>
</Section>

<style>
  .info {
    display: grid;
    gap: 0.5rem;
    align-items: center;

    .avatar {
      z-index: -1;
      transition: all 0.3s ease-in-out;
      right: -38px;
    }
    @media screen and (min-width: 768px) {
      grid-template-columns: 2fr 1fr;

      .avatar {
        position: absolute;
        scale: 0.8;
        margin-right: -24px;
      }
    }

    @media screen and (min-width: 1024px) {
      .avatar {
        margin-right: 0px;
        scale: 1;
      }
    }
  }
</style>
