---
import ExternalLink from "../global/ExternalLink.astro";
import GlassContainer from "../global/GlassContainer.astro";
import GradientText from "../global/GradientText.astro";
import Section from "../global/Section.astro";
import SectionHeading from "../global/SectionHeading.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import { SOCIALS } from "../../constants/socials";
import ContactForm from "../ContactForm";
import TypingAnimatedText from "../global/TypingAnimatedText.astro";
---

<Section id="contact-me">
  <SectionHeading as="h2">
    <GradientText>Contact Me</GradientText>
  </SectionHeading>

  <TypingAnimatedText
    text="Any feedback is appreciated too! ðŸ˜"
    class="text-right text-sm text-muted-foreground"
  />

  <div class="contact-section">
    <GlassContainer class="trans w-full rounded-2xl p-6">
      <ContactForm client:idle />
      <div
        class="mt-4 flex items-center justify-center gap-2 border-t border-foreground/10 pt-4 text-muted-foreground max-md:order-1"
      >
        Or send me a message on
        <ExternalLink href={SOCIALS.linkedin} title="LinkedIn" icon
          ><LinkedIn class="size-4" />
        </ExternalLink>
      </div>
    </GlassContainer>
  </div>
</Section>

<style>
  .contact-section {
    display: grid;
    padding-block: 2rem;

    .contact-form {
      position: relative;
      display: grid;
      gap: 1rem;
    }
    label {
      font-weight: 500;
    }
    input,
    textarea {
      font: inherit;
      background-color: transparent;
      outline: hsl(var(--accent) / 20%) 2px solid;
      border-radius: 1rem;
      padding-block: 0.5rem;
      padding-inline: 1rem;

      &:focus,
      &:focus-visible,
      &:active {
        outline-color: hsl(var(--accent));
      }
    }

    textarea {
      resize: none;
      min-height: 5rem;
      field-sizing: content;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      background-color: hsl(var(--accent) / 30%);
      outline: transparent 2px solid;
      border-radius: 9999px;
      padding: 0.5rem;

      transition: all 0.2s ease-in;

      &:hover {
        background-color: hsl(var(--accent) / 60%);
      }
      &:focus-visible {
        outline-color: hsl(var(--accent));
      }

      &:active {
        transform: scale(0.97);
      }

      &[disabled] {
        background-color: hsl(var(--muted));
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
</style>
