---
import ExternalLink from "../global/ExternalLink.astro";
import GlassContainer from "../global/GlassContainer.astro";
import GradientText from "../global/GradientText.astro";
import Section from "../global/Section.astro";
import SectionHeading from "../global/SectionHeading.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";
import { SOCIALS } from "../../constants/socials";
---

<Section id="contact-me">
  <SectionHeading as="h2" class="">
    <GradientText>Contact Me</GradientText>
  </SectionHeading>

  <div class="contact-section">
    <GlassContainer class="w-full rounded-2xl p-6"
      ><form class="contact-form font-onest">
        <span
          class="absolute right-0 top-0 size-3 animate-bounce rounded-full bg-accent"
        ></span>
        <div class="grid gap-2">
          <label> Email </label>
          <input type="email" name="email" placeholder="luisllaboj@gmail.com" />
        </div>

        <div class="grid gap-2">
          <label> Message </label>
          <textarea name="message" placeholder="I would like to discuss..."
          ></textarea>
        </div>

        <button type="button">Get in touch<Mail /> </button>
      </form>

      <div
        class="mt-4 flex items-center justify-center gap-2 border-t border-foreground/10 pt-4 text-muted-foreground max-md:order-1"
      >
        Or send me a message on
        <ExternalLink href={SOCIALS.linkedin} title="LinkedIn" icon
          ><LinkedIn class="size-4" />
        </ExternalLink>
      </div>
    </GlassContainer>
  </div>
</Section>

<style>
  .contact-section {
    display: grid;
    padding-block: 2rem;

    .contact-form {
      position: relative;
      display: grid;
      gap: 1rem;
    }
    label {
      font-weight: 500;
    }
    input,
    textarea {
      font: inherit;
      background-color: transparent;
      outline: hsl(var(--accent) / 20%) 2px solid;
      border-radius: 1rem;
      padding: 0.5rem;

      &:focus,
      &:focus-visible,
      &:active {
        outline-color: hsl(var(--accent));
      }
    }

    textarea {
      resize: none;
      min-height: 5rem;
      field-sizing: content;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      background-color: hsl(var(--accent) / 30%);
      outline: transparent 2px solid;
      border-radius: 9999px;
      padding: 0.5rem;

      transition: all 0.2s ease-in;

      &:hover {
        background-color: hsl(var(--accent) / 60%);
      }
      &:focus-visible {
        outline-color: hsl(var(--accent));
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }
</style>
