---
import GradientText from "../global/GradientText.astro";
import Section from "../global/Section.astro";
import SectionHeading from "../global/SectionHeading.astro";
---

<Section id="experience">
  <SectionHeading as="h2" class="">
    <GradientText>Experience</GradientText>
  </SectionHeading>

  <p class="animate-pulse">work in progress...</p>

  <div
    class:list={[
      "h-96 rounded-lg bg-muted",
      "flex items-center justify-center",
    ]}
  >
    <p>pending...</p>
  </div>
</Section>
