---
import ExternalLink from "../global/ExternalLink.astro";
import GlassContainer from "../global/GlassContainer.astro";
import GradientText from "../global/GradientText.astro";
import SiteHeader from "../SiteHeader.astro";
import Technologies from "../Technologies.astro";
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";
import Highlight from "../global/Highlight.astro";
import Section from "../global/Section.astro";
import { SOCIALS } from "../../constants/socials";
import TagCodeBlock from "../TagCodeBlock";
---

<section
  id="nav"
  class="sticky inset-x-0 top-6 z-50 opacity-0 transition duration-200 will-change-transform"
>
  <SiteHeader transition:name="header" />
</section>

<Section class="font-accent" id="hero">
  <div id="intersection">
    <header id="header" class="transition duration-150 will-change-transform">
      <h1 class="mb-6 text-7xl font-bold max-md:text-6xl">
        hi, i'm <GradientText>luis</GradientText>
      </h1>

      <TagCodeBlock label="AboutMe" client:load>
        <article class="flex flex-col gap-8">
          <div class="flex flex-col gap-2">
            <h2 class="text-xl">
              I'm a Software Engineer & <Highlight
                >FullStack Web Developer</Highlight
              >
            </h2>

            <p class="text-muted-foreground">
              <Highlight class="font-semibold text-accent">1.5+</Highlight> years
              building with web technologies. Continuously evolving and learning
              new stuff.
            </p>
          </div>

          <nav class="flex items-center gap-4">
            <ExternalLink href={SOCIALS.linkedin} title={"LinkedIn"}>
              <LinkedIn class="size-6" />
            </ExternalLink>

            <ExternalLink href={SOCIALS.github} title={"GitHub"}>
              <GitHub class="size-6" />
            </ExternalLink>

            <ExternalLink href={SOCIALS.email} title={"Email"}>
              <Mail class="size-4" />
            </ExternalLink>
          </nav>
        </article>

        <div class="relative w-full pt-12">
          <Technologies />
        </div>
      </TagCodeBlock>
    </header>
  </div>
</Section>
<!-- Extra space to give the header room to show up -->
<div class="h-12 md:h-8"></div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const intersectionRef = document.getElementById("intersection");
    const header = document.getElementById("header");
    const nav = document.getElementById("nav");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (!entry.isIntersecting) {
            header?.classList.add("-translate-y-2", "scale-95", "opacity-0");
            header?.classList.remove("opacity-100");

            nav?.classList.remove(
              "-translate-y-2",
              "scale-[0.95]",
              "opacity-0",
            );
            nav?.classList.add("opacity-100", "delay-50");
          } else {
            header?.classList.remove("-translate-y-2", "scale-95", "opacity-0");
            header?.classList.add("opacity-100");

            nav?.classList.add("-translate-y-2", "scale-[0.95]", "opacity-0");
            nav?.classList.remove("opacity-100", "delay-50");
          }
        });
      },
      {
        root: null,
        rootMargin: "-80px",
      },
    );

    if (intersectionRef) {
      observer.observe(intersectionRef);
    }
  });
</script>
