---
import GradientText from "../global/GradientText.astro";
import Section from "../global/Section.astro";
import SectionHeading from "../global/SectionHeading.astro";
import Project from "../Project.astro";
---

<Section id="projects">
  <SectionHeading as="h2" class="">
    <GradientText class:list={["text-accent"]}>Projects</GradientText>
  </SectionHeading>

  <Project
    title="Project One"
    description="Lorem ipsum dolor sit amet"
    imgUrl="/projects/portfolio.png"
  />
  <Project
    title="Project Two"
    description="  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, esse excepturi reiciendis non aspernatur assumenda blanditiis?"
    imgUrl="/projects/portfolio.png"
  />

  <Project
    title="Project Three"
    description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque ut, quaerat sapiente officiis eligendi qui dolore excepturi! Odit aspernatur esse neque?"
  />
</Section>
