---
import GradientText from "../global/GradientText.astro";
import Section from "../global/Section.astro";
import SectionHeading from "../global/SectionHeading.astro";
import Project from "../Project.astro";
import { PROJECTS } from "../../constants/projects";
---

<Section id="projects">
  <SectionHeading as="h2">
    <GradientText class:list={["text-accent"]}>Projects</GradientText>
  </SectionHeading>

  {
    PROJECTS.map((project) => (
      <Project
        title={project.title}
        description={project.description}
        imgUrl={project.imgUrl}
        techStack={project.techStack}
      />
    ))
  }
</Section>
