---
import GradientText from "../global/GradientText.astro";
import SectionHeading from "../global/SectionHeading.astro";
---

<section id="projects" class:list={["mb-20 mt-12", "flex flex-col gap-4"]}>
  <SectionHeading as="h2" class="">
    <GradientText class:list={["text-accent"]}>Projects</GradientText>
  </SectionHeading>

  <p class="animate-pulse">work in progress...</p>

  <div
    class:list={[
      "h-96 rounded-lg bg-muted",
      "flex items-center justify-center",
    ]}
  >
    <p>pending...</p>
  </div>
</section>
