---
import Container from "../components/global/Container.astro";
import Section from "../components/global/Section.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="About" description="About page">
  <Section>
    <Container>
      <h1 class="text-4xl font-bold">About page</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        iste officiis dignissimos iure in nam at nulla, maxime provident culpa
        consequuntur animi rem vel facere laudantium possimus omnis suscipit?
        Sint nostrum, obcaecati ex, assumenda voluptas rerum optio
        exercitationem qui quas perspiciatis autem. Temporibus rem, ipsum sequi,
        beatae provident optio ipsa minima aut dolor molestiae sapiente mollitia
        sit tenetur? Porro tempore possimus, atque dolorem explicabo, saepe
        repellendus et corrupti reprehenderit voluptatum aperiam amet ab quod
        tenetur autem.
      </p>
    </Container>
  </Section>
</RootLayout>
