---
import Container from "../components/global/Container.astro";
import Section from "../components/global/Section.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Contact me" description="Contact page">
  <Section>
    <Container>
      <h1 class="text-4xl font-bold">Contact page</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        iste officiis dignissimos iure in nam at nulla, maxime provident culpa
        consequuntur animi rem vel facere laudantium possimus omnis suscipit?
        Sint nostrum, obcaecati ex, assumenda voluptas rerum optio
        exercitationem qui quassaepe repellendus et corrupti reprehenderit
        voluptatum aperiam amet ab quod tenetur autem.
      </p>
    </Container>
  </Section>
</RootLayout>
