---
import Container from "./global/Container.astro";
import ExternalLink from "./global/ExternalLink.astro";
import Links from "./Links.astro";
---

<footer class="bg-background py-12 font-mono" transition:name="footer">
  <Container class="grid gap-2">
    <div class="flex justify-between">
      <div>
        <span id="currentDate" class="font-accent"></span>
        <span class="font-accent font-semibold">
          luis<span class="text-accent">llaboj</span></span
        >
      </div>
      <Links />
    </div>

    <p class="text-sm text-muted-foreground">
      This portfolio was built with
      <ExternalLink href="https://astro.build" icon>
        <span class="sr-only"
          >Astro is a framework to build content-driven websites</span
        >
        Astro
      </ExternalLink>
    </p>

    <ExternalLink
      href="https://github.com/llanesluis/portfolio"
      icon
      class="text-sm text-muted-foreground"
      >View source code
    </ExternalLink>
  </Container>
</footer>

<script>
  const currentYear = new Date().getFullYear();
  const dateElement = document.getElementById("currentDate");
  if (dateElement) {
    dateElement.innerText = currentYear.toString();
  }
</script>
