---
import Container from "./global/Container.astro";
import Links from "./Links.astro";
---

<footer class="bg-background py-12" transition:name="footer">
  <Container class="flex justify-between py-4">
    <div>
      <span id="currentDate" class="font-onest"></span>
      <span class="font-onest font-semibold">
        luis<span class="text-accent">llaboj</span></span
      >
    </div>

    <Links />
  </Container>
</footer>

<script>
  const currentYear = new Date().getFullYear();
  const dateElement = document.getElementById("currentDate");
  if (dateElement) {
    dateElement.innerText = currentYear.toString();
  }
</script>
