---
import Container from "./global/Container.astro";
---

<header class="border-b border-muted py-4">
  <Container>
    <a href="/" class="font-semibold text-accent"> luisllaboj </a>
  </Container>
</header>
