---
import ExternalLink from "./global/ExternalLink.astro";
---

<div class="flex gap-4">
  <ExternalLink
    href="https://www.linkedin.com/in/llanesluis/"
    class="font-semibold opacity-90 transition"
    icon>LinkedIn</ExternalLink
  >
  <ExternalLink
    href="https://github.com/llanesluis"
    class="font-semibold opacity-90 transition"
    icon>GitHub</ExternalLink
  >
</div>
