---
import { SOCIALS } from "../constants/socials";
import ExternalLink from "./global/ExternalLink.astro";
---

<div class="flex gap-4">
  <ExternalLink
    href={SOCIALS.linkedin}
    class="font-semibold opacity-90 transition"
    icon>LinkedIn</ExternalLink
  >
  <ExternalLink
    href={SOCIALS.github}
    class="font-semibold opacity-90 transition"
    icon>GitHub</ExternalLink
  >
</div>
