---
import { TECHNOLOGIES, type TechnologyLabel } from "../constants/technologies";
import Badge from "./Badge.astro";
import BottomPageEffect from "./global/BottomPageEffect.astro";

interface Props {
  title: string;
  description: string;
  imgUrl?: string;
  techStack: TechnologyLabel[];
}

const { title, description, imgUrl, techStack } = Astro.props;
---

<article class="py-8">
  <div class="group/parent project-container size-full">
    <div
      class:list={[
        "project-img",
        "group rounded-2xl shadow-surface-glass",
        "bg-gradient-to-tr from-muted-foreground/10 to-accent/10",
      ]}
    >
      <img
        src={imgUrl ?? "/projects/placeholder.webp"}
        alt={`${title}`}
        class:list={[
          "shadow-lg",
          "max-md:group-hover/parent:scale-105",
          "md:translate-x-12 md:translate-y-6 md:rounded-t-xl",
          "md:group-hover/parent:translate-x-4 md:group-hover/parent:translate-y-0",
          !imgUrl && "opacity-60",
        ]}
      />

      <div class="size-full"><BottomPageEffect /></div>
    </div>

    <div
      class:list={[
        "project-details",
        "prose rounded-xl dark:prose-invert",
        "md:bg-muted/70 md:p-4 md:ring-1 md:ring-accent-dark/20 md:backdrop-blur-md",
        "md:shadow-surface-glass md:transition-shadow md:duration-200",
      ]}
    >
      <h3 class="font-accent text-accent-dark dark:text-accent-light">
        {title}
      </h3>
      <p class="text-foreground">
        {description}
      </p>

      <div class="flex flex-wrap gap-2">
        {
          techStack.map((_tech) => {
            const tech = TECHNOLOGIES.find((t) => t.label === _tech);

            if (!tech) return;

            const label = tech.label;
            const Component = tech.Component;

            return (
              <Badge title={label}>
                <Component class="size-3" />
              </Badge>
            );
          })
        }
      </div>
    </div>
  </div>
</article>

<style>
  .project-container {
    display: grid;

    grid-template-areas:
      "img"
      "details";

    gap: 24px;

    @media (min-width: 768px) {
      grid-template-areas: none;

      grid-template-columns: [img-start] 1fr 1fr 1fr 1fr 1fr [details-start] 1fr 1fr 1fr [img-end] 1fr [details-end];
      grid-template-rows: [img-start] 1fr 1fr [details-start] 1fr 1fr 1fr 1fr 1fr [img-end] 1fr [details-end];
      align-items: end;
    }
  }

  .project-img {
    position: relative;
    isolation: isolate;
    grid-area: img;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    img {
      size: 100%;

      position: absolute;
      bottom: 0;
      object-fit: cover;
      transition: all;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
  }

  .project-details {
    grid-area: details;
    z-index: 1;
  }
</style>
