---
import Nextjs from "./icons/Nextjs.astro";
import React from "./icons/React.astro";
import TypeScript from "./icons/TypeScript.astro";
import CSS from "./icons/CSS.astro";
import HTML from "./icons/HTML.astro";
import Tailwind from "./icons/Tailwind.astro";
import Nodejs from "./icons/Nodejs.astro";
import Expressjs from "./icons/Expressjs.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import ReactQuery from "./icons/ReactQuery.astro";
import Git from "./icons/Git.astro";
import CSharp from "./icons/CSharp.astro";
import GlassContainer from "./global/GlassContainer.astro";
---

<div
  class="relative grid grid-flow-col place-items-center items-center gap-4 text-center max-md:grid-rows-2"
  id="tech"
>
  <HTML class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8" />
  <CSS class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8" />
  <React class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8" />
  <Nextjs class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8" />
  <TypeScript
    class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8"
  />
  <Tailwind
    class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8"
  />
  <Nodejs class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8" />
  <Expressjs
    class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8"
  />
  <AstroIcon
    class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8"
  />
  <ReactQuery
    class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8"
  />
  <Git class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8" />
  <CSharp class="size-10 shrink-0 grayscale hover:grayscale-0 max-sm:size-8" />
</div>
