---
import Nextjs from "./icons/Nextjs.astro";
import React from "./icons/React.astro";
import TypeScript from "./icons/TypeScript.astro";
import CSS from "./icons/CSS.astro";
import HTML from "./icons/HTML.astro";
import Tailwind from "./icons/Tailwind.astro";
import Nodejs from "./icons/Nodejs.astro";
import Expressjs from "./icons/Expressjs.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import ReactQuery from "./icons/ReactQuery.astro";
import Git from "./icons/Git.astro";
import CSharp from "./icons/CSharp.astro";
---

<div
  class="relative grid grid-flow-col place-items-center gap-2 text-center max-md:grid-rows-2"
  id="tech"
>
  <HTML class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <CSS class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <React class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <Nextjs class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <TypeScript class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <Tailwind class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <Nodejs class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <Expressjs class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <AstroIcon class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <ReactQuery class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <Git class="filter-blur size-10 shrink-0 max-sm:size-8" />
  <CSharp class="filter-blur size-10 shrink-0 max-sm:size-8" />
</div>

<!-- Truco para aplicar el filtro a cualquier elemento del DOM que tenga la clase filter-blur -->
<svg width="0" height="0" aria-hidden="true">
  <filter id="blur" y="-50%" x="-50%" width="200%" height="200%">
    <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blurred"
    ></feGaussianBlur>

    <feColorMatrix in="blurred" type="saturate" values="3"></feColorMatrix>

    <feComposite in="SourceGraphic" operator="over"></feComposite>
  </filter>
</svg>

<style>
  .filter-blur {
    &:hover {
      filter: url(#blur);
    }
  }
</style>
