<div class="grid-background"></div>

<style>
  .grid-background {
    --bg-height: 90vh;

    position: absolute;
    height: var(--bg-height);
    pointer-events: none;
    inset-inline: 0;
    bottom: 0;
    z-index: -1;

    background-size: 8px 8px;
    background-image: linear-gradient(
        to right,
        hsl(var(--accent) / 15%) 1px,
        transparent 1px
      ),
      linear-gradient(hsl(var(--accent) / 15%) 1px, transparent 1px);

    mask-image: radial-gradient(
      ellipse 100% 100% at 50% 100%,
      #000 60%,
      transparent 100%
    );

    @media (min-width: 1024px) {
      --bg-height: 100vh;
    }
  }
</style>
