<div
  class:list={[
    "pointer-events-none absolute inset-x-0 bottom-0 -z-10 h-[200vh]",
    "bg-[linear-gradient(to_right,hsl(var(--accent)/10%)_1px,transparent_1px),linear-gradient(to_bottom,hsl(var(--accent)/10%)_1px,transparent_1px)]",
    "bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_100%,#000_80%,transparent_100%)]",
  ]}
>
</div>
