---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  icon?: boolean;
}
const { title, href, class: className, icon } = Astro.props;
---

<a
  rel="noopener noreferrer"
  target="_blank"
  title={title}
  href={href}
  class:list={[
    "group",
    "flex w-fit items-center justify-between gap-1 transition",
    "hover:text-accent group-hover:text-accent",
    "active:scale-95",
    className,
  ]}
>
  <slot />
  {
    icon && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="size-4 transition-transform group-hover:scale-110"
      >
        <>
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
          <path d="M11 13l9 -9" />
          <path d="M15 4h5v5" />
        </>
      </svg>
    )
  }
</a>
