---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "size-fit bg-muted/30 backdrop-blur-lg transition-shadow duration-200 [@supports(backdrop-filter:blur(16px))]:bg-muted/[15%]",
    "shadow-surface-glass hover:shadow-surface-elevation-low",
    className,
  ]}
>
  <slot />
</div>
