<span class="text-gradient"><slot /></span>
<style>
  .text-gradient {
    background: var(--accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 500%;
    background-position: 0%;
  }
</style>
