<div class="grid-background-top"></div>

<style>
  .grid-background-top {
    --bg-height: 100vh;
    --bg-size: 16px;

    position: absolute;
    height: var(--bg-height);
    pointer-events: none;
    inset-inline: 0;
    top: 0;

    /* This z-index shows this element *above* everything else on the page (since the <body> is isolated) */
    /* this looks good until you set the opacity to 1 / 100% */
    z-index: 1;

    background-size: var(--bg-size) var(--bg-size);
    background-image: linear-gradient(
        to right,
        hsl(var(--foreground) / 4%) 1px,
        transparent 1px
      ),
      linear-gradient(hsl(var(--foreground) / 4%) 1px, transparent 1px);

    mask-image: radial-gradient(
      ellipse 100% 100% at 50% 0%,
      #000 30%,
      transparent 100%
    );
  }
</style>
